.add-movie-button {
  color: #f65261;
  cursor: pointer;
  font-size: 25px;
  background-color: rgba(255, 255, 255, .2);
  width: 220px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  outline: none;

  &:hover {
    color: white;
  }
}
