.input {
  &__label {
    color: #f65261;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }

  &__field {
    &.error {
      border: 2px solid #f65261;
    }

    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 12px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    background-color: rgba(255, 255, 255, .1);
    outline: none;
  }

  &__field[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }
  
  &__field[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
  }

  &__error-text {
    color: #f65261;
    font-size: 12px;
    padding-top: 4px;
  }
}
