.homepage-header {
  height: 400px;
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://assets.nflxext.com/ffe/siteui/vlv3/e178a4e7-4f52-4661-b2ae-41efa25dca7c/eb618394-24cd-43ae-8799-c1a76a7bcbfc/BY-en-20210222-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  padding: 24px 72px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__add-movie-button {
    color: #f65261;
    font-size: 25px;
    background-color: rgba(255, 255, 255, .2);
    width: 220px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    border: none;
    text-transform: uppercase;
  }

  &__content {
    margin: 0px 80px;
  }

  &__content-text {
    color: white;
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 24px;
  }
}
